body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsl(220, 15%, 55%);
    font-size: 18px;
}


#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title:hover{
    font-size: 50px;
    border: 2px solid black;
    width: 33%;
    text-align: center;
}

#localidade {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#Matheus{
    border-radius: 25px;
    box-shadow: 8px 5px 5px hsl(219, 18%, 30%);
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline;
}

.Link:hover{
    background-color: darkcyan
}
section ul li:hover{
    font-size: 20px;
    border: 2px solid black;
    width: 12%;
}